/* Ogólne style */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #000;
    overflow-x: hidden;
}

/* Pasek nawigacyjny */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    background: rgba(0, 0, 0, 0.0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 90px;
    transition: top 0.3s ease-in-out;
}

.logo img {
    height: 180px;
    margin-left: 0;
}

nav {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    margin-left: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #00d1ff;
}

/* Tło i sekcje */
section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: flex-start;  /* Keep text starting from the top */
    justify-content: flex-start;
    padding: 0 40px 3cm 40px;  /* Adjust the bottom padding to 3cm */
    box-sizing: border-box;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.background-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Styl tekstów */
.text-block {
    max-width: 40%;
    background: rgba(0, 0, 0, 0.0);
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    bottom: 3cm;  /* Position the text block 3 cm from the bottom */
}

/* Animacja powiększania, pomniejszania i przesuwania */
@keyframes zoomMove {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.8;
    }
    25% {
        transform: translate(-30%, -30%) scale(1.2);
        opacity: 1;
    }
    50% {
        transform: translate(0%, 0%) scale(1.5);
        opacity: 0.8;
    }
    75% {
        transform: translate(30%, 30%) scale(1.2);
        opacity: 1;
    }
    100% {
        transform: translate(50%, 50%) scale(1);
        opacity: 0.8;
    }
}

/* Styl nagłówka z animacją i cieniem */
.custom-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.8), 0 1px 0 rgba(0, 0, 0, 0.6);
    opacity: 1;
    visibility: inherit;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.3s ease-in-out;
    line-height: 1.2; /* Ustawienie odstępu między liniami */
}


.custom-title.animate {
    opacity: 0;
    transform: translate3d(0px, 20px, 0px);
    visibility: hidden;
}

.custom-title.animate.visible {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
}

/* Styl przycisków */
.btn {
    display: inline-block;
    padding: 15px 30px;
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0; /* Usuwamy zaokrąglenie, aby krawędzie były ostre */
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #ffffff;
    color: #000;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    padding: 20px;
    font-size: 0.9rem;
}
